body {
  background-color: #6D68C0;
}

.main {
  height: 150pvh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #0D0C1D;
}

.btn {
  font-size: 1.5rem;
  color: #B3B0DE;

  background: none;
  border: none;

  align-self: center;
  padding: .6rem 1rem;
  transition: all 1s ease;
}

.btn:hover {
  z-index: 9999;
  color: #111D4A;
  background-color: #9dff7f;
  box-shadow: 0 0 5px #9dff7f;
              0 0 25px #9dff7f;
              0 0 50px #9dff7f;
              0 0 150px #9dff7f;
}
